@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-height: 570vh;
    width: 100%;
    background-color: #9DB4C0; 
}

.barra_superior{
    height: 20%;
    width: 100%;
    background-color: #0E172F;
    border-radius: 0px 0px 20px 20px;
    position: fixed;
    top: 0;
    transition: height 0.3s ease;
    z-index: 999;
}

.main_logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo_sdw{
    margin-top: 5px;
    cursor: pointer;
    max-width: 130px;
    max-height: 130px;
}

.main{
    font-size: 20px;
    font-family: 'Hind Madurai', sans-serif;
    text-align: center;
    padding-top: 170px;
}

.main2{
    font-size: 18px;
    font-family: 'Hind Madurai', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.imagem1{
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

.imagem1 img{
    border: 15px solid #0E172F;
    border-radius: 20px;
}


.imagem2{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.imagem2 img{
    border: 15px solid #0E172F;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.imagem2 img:hover{
    transform: scale(1.05);
}

.imagensAMais{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.imagensAMais img{
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 15px;
    max-width: 500px;
    max-height: 400px;
    width: auto;
    height: auto;
}
.imagensAMais img:hover{
    transform: scale(1.1);
}

.imagemAMaisComMaisZoom{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.imagemAMaisComMaisZoom img{
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 15px;
    max-width: 700px;
    max-height: 700px;
    width: auto;
    height: auto;
}

.imagemAMaisComMaisZoom img:hover{
    transform: scale(1.05);
}

a{
    text-decoration: none;
    color: darkslategray;
}

/* Menu */

.item{
    border-radius: 10px;
    display: block;
    padding: 35px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;

}

.item:hover{
    transition: all 0.5s;
    transform: scale(0.95);
    background-color: #3b9ee0;
    color: black;
}

input[type="checkbox"]:checked ~ nav
{
    transform: translateX(350px);
}

ul{
    list-style: none;
    top: 74px;
    width: 100%;
    position: absolute;
}

label img{
    width: 40px;
    height: 40px;
    filter: invert(100);
    cursor: pointer;
}

input[type="checkbox"]{
    display: none;
}

nav{
    background-color: rgba(0, 0, 0, 0.671);
    width: 350px;
    height: 500px;
    left: -350px;
    position: absolute;
    transition: all 0.5s;
}

label{
    margin: 35px 10px;
    position: absolute;
    z-index: 1;
}
